{% extends 'base.html' %}
{% block pagetitle %}Contact{% endblock %}

{% block body %}

<div class="container py-5 text-center">

    <h1 style="color:#05380b;">Contact</h1>

    <div class="card p-4 shadow mx-auto" style="max-width:500px;">
        
        <h4>Sai Krishna Hari</h4>
        <p>AI & ML Student passionate about building AI solutions.</p>

        <p>Email: saikrishnahari196@gmail.com</p>

        <a href="https://www.linkedin.com/in/sai-krishna-hari-091b33231" target="_blank">GitHub</a>

    </div>

</div>

{% endblock %}