{% extends 'base.html' %}

{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}

{% block body %}

<style>
.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.btn-main {
    margin-top: 20px;
    background: #22c55e;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
}
</style>

<div class="hero">
    <div class="overlay">
        <h1>🌿 Plant Disease Detection</h1>
        <p>AI-powered crop diagnosis</p>

        <a href="/index">
            <button class="btn-main">Start Analysis </button>
        </a>
    </div>
</div>

{% endblock %}